<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<head>
<meta charset="ISO-8859-1">
<title>Registro</title>
</head>
    <style>
        .fondo{
            background-color:#f5f5f5
        }
        .box{
            background-color: #ffffff;
            border: 8px outset #61E1E6;
            border-radius: 45px; 
            width: 735px; 
            height: auto;
            margin: auto; 
            margin-top: 1%; 
            padding: 20px 50px; 
            font-family: 'century gothic';
        }
        .title{
            font-weight: bold;
            text-align: center;
            color: cadetblue;
            font-size: x-large;
        }
        .button{
            height: 38px; 
            width: 255px; 
            border-radius: 8px; 
            color: white; 
            background-color: #61E1E6; 
            border-width: 0px;
            margin: auto;
            font-size: 15px;
            font-family: 'century gothic';
            font-weight: bold; 
            margin-top:27px;
        }
        .click{
            text-align: center;
            padding-top: 10px;
        }
    </style>
  
        <body class="fondo">

            <form class="row g-3 box"  asp-action="registro">
                <p class="title">REGISTRATE Y DA A CONOCER TU NEGOCIO!</p>
                <div class="col-md-6 mt-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombres">
                </div>
                <div class="col-md-6 mt-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellidos">
                </div>
                <div class="col-md-5 mt-3">
                    <label for="inputTD" class="form-label">Tipo de Documento</label>
                    <select id="inputDT" class="form-select" name="idTipDoc" asp-items="@ViewBag.tipoDocumento">
                        <option value="0">Seleccione</option>
                    </select>
                </div>
                <div class="col-md-7 mt-3">
                    <label for="inputND" class="form-label">Numero de Documento</label>
                    <input type="text" class="form-control" id="inputND" name="numeroDocumento">
                </div>
                <div class="col-md-6 mt-3">
                    <label for="fechanac" class="form-label">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" id="fechanac" name="fechaNacimiento">
                </div>
                <div class="col-md-6 mt-3">
                    <label for="inputPhone" class="form-label">Celular</label>
                    <input type="text" class="form-control" id="inputPhone" name="telefono">
                </div>
                <div class="col-12 mt-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Ingrese un email" name="correo">
                </div>
                <div class="col-12 mt-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                </div>
                <button type="submit" class="btn btn-primary button">Registrar</button>
                <p class="click">Si ya tienes una cuenta de vendedor, haz click <a href="/login/load"><strong> aqui </strong></a></p>
            </form>

            <br>

            <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        </body>
</html>