@model QallariyProyecto.Models.NegocioUpload

@{
    ViewData["Title"] = "registrar";
}

<h1>registrar</h1>

<h4>NegocioUpload</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="registrar" asp-controller="Negocio" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombreNegocio" class="control-label"></label>
                <input asp-for="nombreNegocio" class="form-control" />
                <span asp-validation-for="nombreNegocio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcionNegocio" class="control-label"></label>
                <input asp-for="descripcionNegocio" class="form-control" />
                <span asp-validation-for="descripcionNegocio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vendedor" class="control-label"></label>
                <input asp-for="vendedor" class="form-control" />
                <span asp-validation-for="vendedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoria" class="control-label"></label>
                <input asp-for="categoria" class="form-control" />
                <span asp-validation-for="categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="distrito" class="control-label"></label>
                <input asp-for="distrito" class="form-control" />
                <span asp-validation-for="distrito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label label-for="imagen" class="control-label"></label>
                <input name="imagen" class="form-control" type="file" id="imagen"/>
            </div>
            <div class="form-group">
                <input type="submit" formmethod="post" asp-controller="Negocio" asp-action="registrar" value="Registrar" />
            </div>
        </form>
    </div>
</div>
<p>@ViewBag.mensaje</p>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
